/* reset */
html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl,
dt,
dd,
span,
img,
a,
form,
input,
select,
label,
textarea,
button,
legend,
iframe,
blockquote,
pre,
hr,
figure,
table,
td,
th,
tr,
caption,
header,
footer,
section,
article,
aside,
nav {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

fieldset,
img {
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

button,
input,
select,
textarea {
    font-size: 100%
}

* {
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: -apple-system,
    BlinkMacSystemFont,
    Helvetica Neue,
    Helvetica,
    Arial,
    Hiragino Sans GB,
    Microsoft Yahei,
    sans-serif;
    background-color: #fff;
}

/* 组件 */
.button {
    width: 80px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color .15s,
    color .15s,
    border-color .15s;
    border-radius: 4px;
    background: #00a6ff;
    color: #fff
} 
.button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 166, 255, .47)
}
.button:active {
    color: #fff;
    background: #00a6ff;
    border-color: #00a6ff
}

/* ------------- */
.contain {}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    box-shadow: 0 1px 4px 0 #dce0e0;
    padding: 0 30px;
}
.sidebar-title {
    font-size: 32px;
    line-height: 60px;
    text-align: center; 
    font-weight: normal;
}
.sidebar-opt {
    text-align: center;
    padding: 48px 0 0;
    width: 100%;
}

.sidebar-preview {
    margin: 20px auto;
    width: 100%;
    height: 320px;
    border: 1px dashed #dce0e0;
}

.upload-btn {
    display: block;
}
.upload-label {
    display: block;
    width: 100%;
    margin: 0;
}
#uploadFile {
    display: none;
    opacity: 0;
}
.show-btn {
    margin-top: 12px;
    width: 100%;
}

.show-style {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 14px;
}
.show-style .button {
    width: 47%;
}

.sidebar-img img {
    max-width: 100%;
}
.sidebar-img video {
    max-width: 100%;
}

.subtitle {
    color: #acacad;
}

.main-wrapper {
    margin-left: 300px;
    width: calc(100% - 300px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel {
    max-width: 100%;
    overflow: auto; 
}
.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #e2e3e4;
    line-height: 32px;
}